{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           byte-streams        {:mvn/version "0.2.4"}}

 :aliases {:build {:extra-paths ["build"]
                   :extra-deps  {org.slf4j/slf4j-nop {:mvn/version "1.7.29"}
                                 badigeon/badigeon   {:git/url "https://github.com/EwenG/badigeon.git"
                                                      :sha     "f4bcca58536f49c10a5ea87b662f33ccf83338ce"
                                                      :tag     "0.0.10"}}}}}
